<template>
  <div>
    <b-alert show variant="info">Please review your booking</b-alert>

    <div class="my-5">
      <h2>General</h2>

      <b-card class="mb-2">
        <b-form-row class="my-3">
          <b-col sm="3">
            Your reference:
          </b-col>
          <b-col sm="9">
            {{value.client_reference || '-'}}
          </b-col>
        </b-form-row>
      </b-card>
    </div>

    <div class="my-5">
      <h2>Cargo</h2>

      <b-card
              v-for="(cargoDetails, cargoDetailsIndex) in value.cargo_details"
              :key="cargoDetailsIndex"
              class="mb-2"
      >
        <h3 class="h5">Shipper</h3>
        <b-row
                class="my-3"
                v-for="fieldKey in ['name', 'street', 'country', 'postal_code', 'city']"
                :key="fieldKey"
        >
          <b-col sm="3">
            {{sentenceCase(fieldKey)}}:
          </b-col>
          <b-col sm="9">
            {{cargoDetails.shipper_info[fieldKey] || '-'}}
          </b-col>
        </b-row>

        <h3 class="h5">Packages</h3>
        <div
                v-for="(pkg, pkgIndex) in cargoDetails.packages"
                :key="pkgIndex"
        >
          <b-row
                  class="my-3"
                  v-for="fieldKey in ['quantity', 'weight', 'dangerous_goods']"
                  :key="fieldKey"
          >
            <b-col sm="3">
              {{sentenceCase(fieldKey)}}:
            </b-col>
            <b-col sm="9">
              {{pkg[fieldKey]}}
            </b-col>
          </b-row>
          <hr v-if="pkgIndex < cargoDetails.packages.length - 1"/>
        </div>
      </b-card>
    </div>

    <div class="my-5">
      <h2>Consignee</h2>

      <b-card class="mb-2">
        <b-row
                class="my-3"
                v-for="fieldKey in ['name', 'street', 'country', 'postal_code', 'city']"
                :key="fieldKey"
        >
          <b-col sm="3">
            {{sentenceCase(fieldKey)}}:
          </b-col>
          <b-col sm="9">
            {{value.consignee_info[fieldKey] || '-'}}
          </b-col>
        </b-row>
      </b-card>
    </div>
  </div>
</template>

<script>
import {sentence as sentenceCase} from 'case'

export default {
  props: ['value'],

  data() {
    return {
      sentenceCase
    }
  }
}
</script>