<template>
  <div>
    <h1>Place new booking</h1>

    <stepper
      :steps="stepLabels"
      :active-step-index="activeStepIndex"
      @click-step="onClickStep"
    />

    <b-form @submit.prevent="activeStepIndex < steps.length - 1 ? next () : submit()">
      <component :is="steps[activeStepIndex]"></component>

      <b-row align-h="end" no-gutters class="mt-5">
        <div class="ml-2" v-if="isPastFirstStep">
          <b-button @click="back" type="button">
            Back
          </b-button>
        </div>

        <div class="ml-2" v-if="isBeforeLastStep">
          <b-button type="submit">
            Next
          </b-button>
        </div>

        <div class="ml-2" v-else>
          <b-button type="submit" variant="primary">
            Submit
          </b-button>
        </div>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import Stepper from '../components/Stepper.vue'
import BookingCargoDetails from './booking-steps/BookingCargoDetails.vue'
import BookingConsignee from './booking-steps/BookingConsignee.vue'
import BookingGeneral from './booking-steps/BookingGeneral.vue'
import BookingReview from './booking-steps/BookingReview.vue'

const steps = [
  BookingGeneral,
  BookingCargoDetails,
  BookingConsignee,
  BookingReview
]

const stepLabels = [
    'General',
    'Cargo',
    'Consignee',
    'Review'
]

export default {
  components: {
    Stepper
  },

  data() {
    return {
      steps,
      stepLabels,
      activeStepIndex: 0
    }
  },

  computed: {
    isPastFirstStep() {
      return this.activeStepIndex > 0
    },

    isBeforeLastStep() {
      return this.activeStepIndex < steps.length - 1
    }
  },

  methods: {
    next() {
      this.activeStepIndex = this.activeStepIndex + 1
    },

    back() {
      this.activeStepIndex = this.activeStepIndex - 1
    },

    async submit() {

    },

    onClickStep(stepIndex) {
      this.activeStepIndex = stepIndex
    }
  }
}
</script>