<template>
  <b-row class="mt-3 mb-5">
    <b-col
      v-for="(step, stepIndex) in steps"
      :key="stepIndex"
    >
      <button class="button p-2" @click="$emit('click-step', stepIndex)">
        <component :is="activeStepIndex === stepIndex ? 'b' : 'span'">
          {{stepIndex + 1}}. {{step}}
        </component>
      </button>
    </b-col>
  </b-row>
</template>

<script>
export default {
  props: {
    steps: Array,
    activeStepIndex: Number
  }
}
</script>

<style scoped>
.button {
  display: inline-block;
  width: 100%;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
}
</style>